Prácticas/2º Trimestre/Practia 15 (Creación de XSD)/Ejercicio 4/XSD4.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="listin">
 <xs:complexType>
     <xs:sequence>
     
      <xs:element name="Persona"  maxOccurs="unbounded"/>
      <xs:attribute name="sexo" type="xs:string"/>
       
     <xs:sequence>
     
     
     
     
     
      <xs:element name="Nombre" type="xs:string"/>
      <xs:element name="email" type="singleEmailID"/>
      
      <xs:element name="relacion"/>
       <xs:attribute name="amigo_de" type="xs:string"/>
       </xs:sequence>

 </xs:sequence>
 </xs:complexType>
</xs:element>

</xs:schema>