Prácticas/2º Trimestre/Práctica 16/Ejercicio 1/helado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="0.1" xml:lang="es">
     <xs:element name="Helado">
      <xs:complexType>
        <xs:sequence>


<xs:element name="Tipo">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:pattern value="Polo|Cornete"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="Sabor">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:pattern value="Nata|Fresa"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>