Prácticas/2º Trimestre/Practia 15 (Creación de XSD)/Ejercicio 3/XSD.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Libro">
 <xs:complexType>
     <xs:sequence>
      <xs:element name="Titulo" type="string"/>
       <xs:element name="Autores" type="xs:string" maxOccurs="unbounded"/>
       <xs:element name="Editorial" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
</xs:element>

</xs:schema>